@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --red: #d22f2c;
    --screen: #F8F8F8;
    --buttons: black;
    --btntext: gray;
    --blue: #0075BE;
    --bug: #94BC4A;
    --dark: #736C75;
    --dragon: #6A7BAF;
    --electric: #E5C531;
    --fairy: #E397D1;
    --fighting: #CB5F48;
    --fire: #EA7A3C;
    --flying: #7DA6DE;
    --ghost: #846AB6;
    --grass: #71C558;
    --ground: #CC9F4F;
    --ice: #70CBD4;
    --normal: #AAB09F;
    --poison: #B468B7;
    --psychic: #E5709B;
    --rock: #B2A061;
    --steel: #89A1B0;
    --water: #539AE2;
}

body {
    background: repeating-conic-gradient(from 45deg, #ffffff 0% 25%, #ffeeaa 0% 50%);
    background-size: 37px 37px;
    background-color: #ffeeaa;
}